@font-face{font-family: quentin;
src:url(Quentin.oft);}

html{scroll-behavior: smooth;}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191919;
}

/* Handle */
::-webkit-scrollbar-thumb {

  background: #666666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}
/*--------------navbar--------------*/
#navbar {
  background-color: #333;
  position: fixed;
  top: -70px;
  width: 100%;
  display: block;
  transition: top 0.8s;
  z-index: 2;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: dodgerblue;
  color: black;
}
#navbar a:nth-child(1){font-family: quentin;
  float: left;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  }
#navbar a:hover:nth-child(1){background-color: unset;color: unset;}  


/*-----------landing page style---------------*/

body{font-family: 'Poppins', sans-serif;margin: 0;padding: 0;color: #d6d6d6; height: auto; overflow: visible;}
div a{margin:6px;padding: 5px; }

.banner{width: 100%;
        height: 100vh;}
.banner video{width: 100%;
              height: 100vh;
              object-fit: cover;
              position: fixed;
              z-index: -1;}      
.content{position: absolute;
	     top:30%;
	     left:8%;
	     color: white;}                

.banner h1{font-size: 80px; padding:0; margin: 0;font-family: quentin;}
.banner h4{font-weight: 100;width: 500px;font-size: 14px;margin-bottom: 30px;}
.banner h2{font-weight:300;}
.ordi:link,.ordi:visited{text-decoration: none;
                         border: 1px solid white;
                         color: white;border-radius: 5px;font-size: 14px;padding: 8px;
                     }
.ordi:hover{border: 3px solid dodgerblue;
            color: dodgerblue;
            border-radius: 5px; 

                     }          
.sp:link,.sp:visited{text-decoration: none;
                     color: white;
                     font-size:25px;
                     padding-top: 5px;
                     position: relative;
                     top:5px;
                     }
.sp:hover{  color: dodgerblue;}

/*-----------default style---------------*/    
section:nth-child(odd){background-color:#C0C0C0;}

/*-----------about style---------------*/
.pages{background-color: #0a0a0a;}/*change all pages to white inted of sticky video*/
.tag{font-size: 50px;
  text-align: center;
  padding-top: 70px;
  background-color: #0a0a0a; 
  color: white;
}
.about{height: 100vh;}
.avtar{float: left;width: 50%;margin-top: 40px;margin-bottom: 100px;}
.pic{height:40%;width:40%; border-radius: 50%;display: block; margin-left: auto;margin-right: auto;}
.avtar p{width: 70%;text-align: center;margin: auto;margin-top: 40px;font-size: 20px;}
.tools{float: left; width: 50%;}
.tools h2{margin-left: auto;margin-right: auto;text-align: center;margin-bottom: 50px;}
.row {
  display: flex;margin-left: 50px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  
  padding-bottom: 50px;
  margin-left: 20px;
}
/*----------------------projects----------------------------*/
#projects{clear: left;}
#projects .tag{background-color:#C0C0C0;
  color:#0a0a0a }
#projects ul{text-align: center;}
#projects li{display: inline-block;
  list-style: none;
  cursor: pointer;
  margin-right: 60px;
  font-size: 25px;
  border:solid black 2px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
#projects li:hover{color: dodgerblue;
  border-color: dodgerblue;
}
.filtr-item img{height: 30vh; margin: 30px 0px 30px 60px;box-shadow: 0 2px 20px rgba(0,0,0,0.5);}

/*--------------------------resume----------------------------*/

.spacer{
  height: 40px;
}
#resume h1{
  font-size: 50px;
  color:white;
  text-align: center;
  }
#resume-files{
  display: flex;
  justify-content: space-around;
}  
#wordfile{
  width: 120px;
  height: 120px;
  background-image: url('wordfile.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s;
}
#wordfile:hover{
  box-shadow: 0px 0px 19px 15px blue;
}
#pdffile{
  width: 120px;
  height: 120px;
  background-image: url('pdfimage.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
}
#pdffile:hover{
  box-shadow: 0px 0px 19px 15px red;
}

<-----------blogs------------>
#posts{
  display: flex;
  justify-content: center;
  text-align: center;
}
.blog{
  display: inline-block;
}
#blog1{
  width: 320px;
  height: 210px;
  background-image: url('blogs/blog1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
  margin-left: 20px;
}
#blog2{
  width: 320px;
  height: 210px;
  background-image: url('blogs/blog2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
}
#blog3{
  width: 320px;
  height: 210px;
  background-image: url('blogs/blog3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
}
#blog4{
  width: 320px;
  height: 210px;
  background-image: url('blogs/blog4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
}
.blog:hover{
  transform: scale(1.2);
}